**/.vscode/*
**/logs/*
**/__pycache__/
**/buffers/
**/*.log
**/*.out
**/run.sh
**/models/*
!models/dummy_file.txt
**/models_airl/*
!models_airl/dummy_file.txt
!buffers/dummy_file.txt
**/weights/*
**/saved_policies/*