.vscode/*
logs/*
__pycache__/
/algo/__pycache__/
/scripts/__pycache__/
buffers/
*.log
*.out
run.sh
models/*
!models/dummy_file.txt
models_airl/*
!models_airl/dummy_file.txt
buffers/*
!buffers/dummy_file.txt
weights/*
saved_policies/*